[Unit]
Description=Node.js HomeKit Server
After=syslog.target network-online.target

[Service]
Type=simple
User=homebridge
ExecStart=/usr/local/bin/homebridge -U /home/homebridge
Restart=on-failure
RestartSec=10
KillMode=process
StandardOutput=syslog
StandardError=syslog
[Install]
WantedBy=multi-user.target
